/* RegisterInput
.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}
p{
    margin-bottom: 50px;
}


label{
    font-size: 12px;
    color: gray;
}

span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
} */


/* RegisterForm */

/* .app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #feeef1;
  background-size: cover;
  background-position: center;
}
img{

    width: 400px;
}
  


form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

h3{
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #ff3f6c;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
} */