span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}
.formInput{
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}

input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
} */

.inputtt:invalid[focused="true"]{
    border: 1px solid red;
}
.inputtt:invalid[focused="true"] ~ span{
    display: block;
}
.inputtt{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


img{

    width: 400px;
}




